{% embed 'partials/base.html.twig' %}
  {% block content %}
    <article class="page-content">
      {{ page.content }}
    </article>

    <div class="bloglist">
      {% for child in page.collection %}
        {% include 'partials/blog_item.html.twig' with {'page':child, 'truncate':true} %}
      {% endfor %}
    </div>
  {% endblock %}

{% endembed %}
